{{ 'component-sale-banner.css' | asset_url | stylesheet_tag }}

<div class="sale-banner">
  <div class="sale-banner-inn">
    {%- if section.settings.image_banner != blank -%}          
          {{ section.settings.image_banner | image_url: width: 1920 | image_tag:
            loading: 'lazy'
          }}
        {%- else -%}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Sale Banner",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_banner",
      "label": "Select Image"
    }    
  ],
  "presets": [
    {
      "name": "Sale Banner"
    }
  ]
}
{% endschema %}