{{ 'component-sale-subscribe.css' | asset_url | stylesheet_tag }}

<div class="sale-subscribe">
  <div class="sale-subscribe-inn">
    <h2>Interested in taking Your Sleep hygiene to the next level?<br/>
    Sign-up here to stay up-to-date on Mui x Emma’s Smart Sleep product:</h2>
    <div class="subscribe-form">
      <script>
        (function (s, e, n, d, er) {
          s['Sender'] = er;
          s[er] = s[er] || function () {
            (s[er].q = s[er].q || []).push(arguments)
          }, s[er].l = 1 * new Date();
          var a = e.createElement(n),
              m = e.getElementsByTagName(n)[0];
          a.async = 1;
          a.src = d;
          m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://cdn.sender.net/accounts_resources/universal.js', 'sender');
        sender('c256753e649461')
      </script>
      <div style="text-align: left" class="sender-form-field" data-sender-form-id="lcfwenxoe1mrrea3m5a"></div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Sale Subscriber",
  "class": "section",
  "presets": [
    {
      "name": "Sale Subscriber"
    }
  ]
}
{% endschema %}