<div class="video-container">
  <video width="100%" poster="http://content.bitsontherun.com/thumbs/bkaovAYt-320.jpg" autoplay loop muted="">
        <source src="{{ section.settings.videofile }}" type="video/mp4" id="{{ section.id }}">
  </video>
</div>

{% schema %}
{
  "name": "Video Background",
  "settings": [
    {
      "type": "text",
      "id": "videofile",
      "label": "Video URL",
      "default": "https://cdn.shopify.com/videos/c/o/v/08b6d40aa6304cd69c3c2a3e4c00ddd6.mp4"
    }
  ],
  "presets": [
    {
      "name": "Video Background"
}
  ]
}
{% endschema %}


{% stylesheet %}
{% endstylesheet %}