.side-content-with-image-slider .grid {
  margin-bottom: 0;
}
.side-content-with-image-slider.page-width{
  padding: 0;
}

.side-content-with-image-slider .grid__item {
  position: relative;
}
.side-content-with-image-slider__content img{
  margin-bottom: 10px;
  height: auto !important;
  display: block;
}
.side-content-with-image-slider .side-image-slider .slick-dots{
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 1;
  right: 50px;
  bottom: 20px;
  display: flex !important;
  flex-wrap: wrap;
}
.side-content-with-image-slider .side-image-slider .slick-dots li{
  width: 16px;
  line-height: 0;
  display: block;
  margin: 0;
}
.side-content-with-image-slider .side-image-slider .slick-dots li + li{
  margin-left: 12px;
}
.side-content-with-image-slider .side-image-slider .slick-dots li button{
  width: 16px;
  height: 16px;
  display: block;
  border-radius: 100%;
  background-color: #c7c8c3;
  font-size: 0;
  line-height: 0;
  text-indent: -2000000px;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.side-content-with-image-slider .side-image-slider .slick-dots li.slick-active button{
  background-color: #e7344c;
}

@media screen and (min-width: 750px) {
  .side-content-with-image-slider .grid--3-col-tablet .grid__item{
    width: 22%;
    display: grid;
    align-content: center;
  }
  .side-content-with-image-slider__grid--reverse {
    flex-direction: row-reverse;
  }
}

.side-content-with-image-slider__media {
  min-height: 100%;
  overflow: visible;
}

.side-content-with-image-slider__media--small {
  height: 19.4rem;
}

.side-content-with-image-slider__media--large {
  height: 43.5rem;
}

@media screen and (min-width: 750px) {
  .side-content-with-image-slider__media--small {
    height: 31.4rem;
  }

  .side-content-with-image-slider__media--large {
    height: 69.5rem;
  }
}

.side-content-with-image-slider__media--placeholder {
  position: relative;
  overflow: hidden;
}

.side-content-with-image-slider__media--placeholder:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(var(--color-foreground), 0.04);
}

.side-content-with-image-slider__media--placeholder.side-content-with-image-slider__media--adapt {
  height: 20rem;
}

@media screen and (min-width: 750px) {
  .side-content-with-image-slider__media--placeholder.side-content-with-image-slider__media--adapt {
    height: 30rem;
  }
}

.side-content-with-image-slider__media--placeholder > svg {
  position: absolute;
  left: 50%;
  max-width: 80rem;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  fill: currentColor;
}

.side-content-with-image-slider__content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-self: center;
  padding: 4rem calc(4rem / var(--font-body-scale)) 5rem;
  position: relative;
  z-index: 1;
}

.side-content-with-image-slider .grid__item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.side-content-with-image-slider:not(.side-content-with-image-slider--overlap) .side-content-with-image-slider__media-item:after {
  border-radius: var(--media-radius);
  box-shadow: var(--media-shadow-horizontal-offset)
    var(--media-shadow-vertical-offset)
    var(--media-shadow-blur-radius)
    rgba(var(--color-shadow), var(--media-shadow-opacity));
}

.side-content-with-image-slider:not(.side-content-with-image-slider--overlap) .side-content-with-image-slider__text-item:after {
  border-radius: var(--text-boxes-radius);
  box-shadow: var(--text-boxes-shadow-horizontal-offset)
    var(--text-boxes-shadow-vertical-offset)
    var(--text-boxes-shadow-blur-radius)
    rgba(var(--color-shadow), var(--text-boxes-shadow-opacity));
}

.side-content-with-image-slider .side-content-with-image-slider__media-item > * {
  border-radius: var(--media-radius);
  overflow: hidden;
  box-shadow: var(--media-shadow-horizontal-offset)
    var(--media-shadow-vertical-offset)
    var(--media-shadow-blur-radius)
    rgba(var(--color-shadow), var(--media-shadow-opacity));
}

.side-content-with-image-slider .global-media-settings {
  overflow: hidden !important;
}

.side-content-with-image-slider .side-content-with-image-slider__text-item > * {
  border-radius: var(--text-boxes-radius);
  overflow: hidden;
  box-shadow: var(--text-boxes-shadow-horizontal-offset)
    var(--text-boxes-shadow-vertical-offset)
    var(--text-boxes-shadow-blur-radius)
    rgba(var(--color-shadow), var(--text-boxes-shadow-opacity));
}

.side-content-with-image-slider:not(.side-content-with-image-slider--overlap) .side-content-with-image-slider__media-item > *,
.side-content-with-image-slider:not(.side-content-with-image-slider--overlap) .side-content-with-image-slider__text-item > * {
  box-shadow: none;
}

@media screen and (max-width: 749px) {
  .side-content-with-image-slider.collapse-corners:not(.side-content-with-image-slider--overlap) .side-content-with-image-slider__media-item:after,
  .side-content-with-image-slider.collapse-corners:not(.side-content-with-image-slider--overlap) .grid__item .side-content-with-image-slider__media,
  .side-content-with-image-slider.collapse-corners:not(.side-content-with-image-slider--overlap) .side-content-with-image-slider__media img {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    width: 100%;
    height: auto;
    padding: 0 !important;
  }
  .side-content-with-image-slider .side-image-slider .slick-dots{
    right: 20px;
    bottom: 10px;
  }
  .side-content-with-image-slider .side-image-slider .slick-dots li{
    width: 12px;
  }
  .side-content-with-image-slider .side-image-slider .slick-dots li + li{
    margin-left: 8px;
  }
  .side-content-with-image-slider .side-image-slider .slick-dots li button{
    width: 12px;
    height: 12px;
  }
  .side-content-with-image-slider__content img{
    width: auto;
  }

  .side-content-with-image-slider.collapse-corners:not(.side-content-with-image-slider--overlap) .side-content-with-image-slider__text-item:after,
  .side-content-with-image-slider.collapse-corners:not(.side-content-with-image-slider--overlap) .grid__item .side-content-with-image-slider__content {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .side-content-with-image-slider.collapse-borders:not(.side-content-with-image-slider--overlap) .side-content-with-image-slider__content {
    border-top: 0;
  }
}

.side-content-with-image-slider__content--mobile-right > * {
  align-self: flex-end;
  text-align: right;
}

.side-content-with-image-slider__content--mobile-center > * {
  align-self: center;
  text-align: center;
}

.side-content-with-image-slider--overlap .side-content-with-image-slider__content {
  width: 90%;
  margin: -3rem auto 0;
}

@media screen and (min-width: 750px) {
  .side-content-with-image-slider__grid--reverse .side-content-with-image-slider__content {
    margin-left: auto;
  }

  .side-content-with-image-slider__content--bottom {
    justify-content: flex-end;
    align-self: flex-end;
  }

  .side-content-with-image-slider__content--top {
    justify-content: flex-start;
    align-self: flex-start;
  }

  .side-content-with-image-slider__content--desktop-right > * {
    align-self: flex-end;
    text-align: right;
  }

  .side-content-with-image-slider__content--desktop-left > * {
    align-self: flex-start;
    text-align: left;
  }

  .side-content-with-image-slider__content--desktop-center > * {
    align-self: center;
    text-align: center;
  }

  .side-content-with-image-slider--overlap .side-content-with-image-slider__text-item {
    display: flex;
    padding: 3rem 0;
  }

  .side-content-with-image-slider--overlap .side-content-with-image-slider__content {
    height: auto;
    width: calc(100% + 4rem);
    min-width: calc(100% + 4rem);
    margin-top: 0;
    margin-left: -4rem;
  }

  .side-content-with-image-slider--overlap .side-content-with-image-slider__grid--reverse .side-content-with-image-slider__content {
    margin-left: 0;
    margin-right: -4rem;
  }

  .side-content-with-image-slider--overlap .side-content-with-image-slider__grid--reverse .side-content-with-image-slider__text-item {
    justify-content: flex-end;
  }

  .side-content-with-image-slider--overlap .side-content-with-image-slider__media-item--top {
    align-self: flex-start;
  }

  .side-content-with-image-slider--overlap .side-content-with-image-slider__media-item--middle {
    align-self: center;
  }

  .side-content-with-image-slider--overlap .side-content-with-image-slider__media-item--bottom {
    align-self: flex-end;
  }

  .side-content-with-image-slider__media-item--small,
  .side-content-with-image-slider__media-item--large + .side-content-with-image-slider__text-item {
    flex-grow: 0;
  }

  .side-content-with-image-slider.collapse-corners:not(.side-content-with-image-slider--overlap) .grid:not(.side-content-with-image-slider__grid--reverse) .side-content-with-image-slider__media-item:after,
  .side-content-with-image-slider.collapse-corners:not(.side-content-with-image-slider--overlap) .grid:not(.side-content-with-image-slider__grid--reverse) .side-content-with-image-slider__media,
  .side-content-with-image-slider.collapse-corners:not(.side-content-with-image-slider--overlap) .grid:not(.side-content-with-image-slider__grid--reverse) .side-content-with-image-slider__media img,
  .side-content-with-image-slider.collapse-corners:not(.side-content-with-image-slider--overlap) .side-content-with-image-slider__grid--reverse .side-content-with-image-slider__text-item:after,
  .side-content-with-image-slider.collapse-corners:not(.side-content-with-image-slider--overlap) .side-content-with-image-slider__grid--reverse .side-content-with-image-slider__content,
  .side-content-with-image-slider.collapse-corners:not(.side-content-with-image-slider--overlap) .side-content-with-image-slider__grid--reverse .side-content-with-image-slider__content:after {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .side-content-with-image-slider.collapse-corners:not(.side-content-with-image-slider--overlap) .grid:not(.side-content-with-image-slider__grid--reverse) .side-content-with-image-slider__text-item:after,
  .side-content-with-image-slider.collapse-corners:not(.side-content-with-image-slider--overlap) .grid:not(.side-content-with-image-slider__grid--reverse) .side-content-with-image-slider__content,
  .side-content-with-image-slider.collapse-corners:not(.side-content-with-image-slider--overlap) .grid:not(.side-content-with-image-slider__grid--reverse) .side-content-with-image-slider__content:after,
  .side-content-with-image-slider.collapse-corners:not(.side-content-with-image-slider--overlap) .side-content-with-image-slider__grid--reverse .side-content-with-image-slider__media-item:after,
  .side-content-with-image-slider.collapse-corners:not(.side-content-with-image-slider--overlap) .side-content-with-image-slider__grid--reverse .side-content-with-image-slider__media,
  .side-content-with-image-slider.collapse-corners:not(.side-content-with-image-slider--overlap) .side-content-with-image-slider__grid--reverse .side-content-with-image-slider__media img {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .side-content-with-image-slider.collapse-corners:not(.side-content-with-image-slider--overlap) .side-content-with-image-slider__grid--reverse .side-content-with-image-slider__media{
    padding: 0 !important;
  }

  .side-content-with-image-slider.collapse-borders:not(.side-content-with-image-slider--overlap) .grid:not(.side-content-with-image-slider__grid--reverse) .side-content-with-image-slider__content {
    border-left: 0;
  }

  .side-content-with-image-slider.collapse-borders:not(.side-content-with-image-slider--overlap) .side-content-with-image-slider__grid--reverse .side-content-with-image-slider__content {
    border-right: 0;
  }
}

.side-content-with-image-slider:not(.collapse-corners, .side-content-with-image-slider--overlap) .side-content-with-image-slider__media-item {
  z-index: 2;
}

.side-content-with-image-slider__content {
  border-radius: var(--text-boxes-radius);
  box-shadow: var(--text-boxes-shadow-horizontal-offset)
    var(--text-boxes-shadow-vertical-offset)
    var(--text-boxes-shadow-blur-radius)
    rgba(var(--color-shadow), var(--text-boxes-shadow-opacity));
}

@media screen and (min-width: 990px) {
  .side-content-with-image-slider__content {
    padding: 50px;
  }
}

.side-content-with-image-slider__content > * + * {
  margin-top: 8px;
}

.side-content-with-image-slider__content > .side-content-with-image-slider__text:empty ~ a {
  margin-top: 8px;
}

.side-content-with-image-slider__content > :first-child:is(.side-content-with-image-slider__heading),
.side-content-with-image-slider__text--caption + .side-content-with-image-slider__heading,
.side-content-with-image-slider__text--caption:first-child {
  margin-top: 0;
}

.side-content-with-image-slider__content :last-child:is(.side-content-with-image-slider__heading),
.side-content-with-image-slider__text--caption {
  margin-bottom: 0;
}
.side-content-with-image-slider .side-content-with-image-slider__text--caption{
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0px;
}
.side-content-with-image-slider .side-content-with-image-slider__heading{
  font-size: 21px;
  line-height: 25px;
  font-weight: 500;
  color: #e7344c;
  padding-top: 2px;
}
.side-content-with-image-slider__content .side-content-with-image-slider__text + .button{
  font-size: 10px;
  line-height: 12px;
  text-decoration: none;
  text-decoration-color: #e7344c;
  color: #000000;
  padding: 0;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #e7344c;
  border-radius: 0;
  min-height: 12px;
  min-width: 40px;
  letter-spacing: 0;
}
.side-content-with-image-slider__content .side-content-with-image-slider__text + .button::after,
.side-content-with-image-slider__content .side-content-with-image-slider__text + .button::before{
  display: none;
}

.side-content-with-image-slider__content .button + .side-content-with-image-slider__text {
  margin-top: 8px;
}

.side-content-with-image-slider__content .side-content-with-image-slider__text + .button {
  margin-top: 12px;
}

.side-content-with-image-slider__heading {
  word-break: break-word;
  margin-bottom: 0;
}

.side-content-with-image-slider__text p {
  word-break: break-word;
  margin-top: 0;
  margin-bottom: 1rem;
}

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  .side-content-with-image-slider .grid {
    margin-left: 0;
  }
}

@media screen and (max-width: 989px) {
  .section .side-content-with-image-slider .grid{
    display: block;
  }
  .section .side-content-with-image-slider .grid--3-col-tablet .grid__item{
    width: 100%;
    display: block;
  }
}
