.contact-form-container.page-width--narrow{
  max-width: 510px;
}
.contact-form-container h2.title{
  font-size: 15px;
  line-height: 18px;
  font-weight: 300;
  text-align: center;
  color: #000000;
  margin: 0;
}
.contact-form-container .description{
  width: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
}
.contact-form-container .description p{
  text-align: center;
  margin: 0;
}

.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 12px;
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 12px;
  }
}

.contact__button {
  margin-top: 20px;
}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 20px;
  }
}

@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}
